bin
obj
packages

src/**/*.js
src/**/*.js.map
src/**/*.css
src/**/css/**/*.css
src/mvc-sample-app/tslint-report/

.vs/
site
publish 
*.pubxml 
*.user
*.bat
!src/mvc-sample-app/watch.bat
*.txt
!StagingServer.pubxml
!LocalMachine.pubxml
node_modules
!DeleteNodePackages.bat
!InstallNpmModules.bat
tools
!tools/packages.config
TestResult.xml
cireports 
lib
dist 
StyleCop.Cache
*StyleCopAnalysis.xml
*JSLintAnalysis.html
*TSLintAnalysis.xml
system.cachebuster.json
*SASSLintAnalysis.html
temporaryfiles
.vscode